body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.list-item {
  display: grid;
  gap: 2%;
  grid-template-columns: repeat(2, 49%);
}
.list-item2 {
  display: grid;
  gap: 2%;
  grid-template-columns: repeat(3, 32%);
}
.list-item img {
  width: 100%;
}

.list-item2 img {
  width: 100%;
}

img {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
img:hover {
  opacity: 0.5;
  cursor: pointer;
}

.products {
  display: grid;
  gap: 1%;
  grid-template-columns: repeat(4, 24.25%);
}

.email {
  display: flex;
  width: 50%;
}

.popup {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.popup img {
  width: 100%;
}

svg {
  fill: white;
  width: 1.5rem;
}

.shop {
  background-color: #e5f1f1;
}

.category {
  display: grid;
  gap: 5%;
  grid-template-columns: 20% 75%;
}

.pointer {
  cursor: pointer;
  color: #8a8989;
}

.pointer:hover,
.pointer.active {
  color: #f8c471;
}

.img-detail {
  display: grid;
  grid-template-columns: 20% 80%;
}

.add {
  border: none;
  background-color: white;
}

.add svg {
  fill: black;
  width: 1rem;
}

.counter {
  margin: 0;
  align-self: center;
}

.signup {
  width: 50%;
  background-color: white;
}

.navlogin {
  color: rgb(53, 122, 250);
  cursor: pointer;
}

.icon-nav {
  fill: #8a8989;
}

.shopping {
  display: grid;
  gap: 3%;
  grid-template-columns: 70% 27%;
}

th img {
  width: 5rem;
}

.coupon {
  width: 100%;
  height: 3rem;
}

.cart-total {
  height: fit-content;
}

.checkout {
  display: grid;
  gap: 2%;
  grid-template-columns: 65% 33%;
}

.order {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.mes {
  position: fixed;
  bottom: 10vh;
  right: 20px;
}

.aa {
  width: 5vh;
}

.client {
  background-color: rgb(0, 153, 255);
  padding: 3px;
  border-radius: 0.2rem;
}

.admin {
  background-color: rgb(219, 218, 218);
  padding: 3px;
  border-radius: 0.2rem;
  width: fit-content;
}

.ipmes {
  border: none;
  margin-bottom: 1rem;
  margin-left: 1rem;
}
